@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 750px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header header header' '. main .' ;
}

.header {
  grid-area: header;
}

svg {
  vertical-align: -0.125em;
}

#top-left {
  width: 320px;
  grid-area: top-left;
}

#top-center {
  display: flex;
  justify-self: center;
  grid-area: top-center;
}

#top-right {
  grid-area: top-right;
  font-family: "Nunito", "sans-serif";
  font-weight: bold;
  color: #6b6b6b;
  justify-self: end;
}

main {
  display: grid;
  margin: 32px;
  grid-area: main;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  'title title'
  'weather weather';
  row-gap: 22px;
  justify-items: center;
  font-family: "Nunito", "sans-serif";
  color: whitesmoke;

}

.main-heading h2 {
font-size: 35px;
}

.main-heading p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.main-heading {
  grid-area: title;
  text-align: center;  
}

.main-weather {
  grid-area: weather;
  background: rgba(255, 133, 77, 0.7);
  padding: 25px;
  border-radius: 10px;
  width: 240px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-data {
  font-size: 62px;
}

.weather-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
.desc-weather {
  font-size: 24px;
  color: whitesmoke;
  margin-bottom: 10px;
}

.settings {
  display: flex;
  margin-left: 10px;
}

.settings button {
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  height: 35px;
  width: 35px;
  margin: 0px 5px 0px 0px;
  background-color: #125683;
  color: whitesmoke;
  border: 2px solid rgba(255, 255, 255, 0.3) ;
}

.settings button:hover, button.active {
  border: 2px solid whitesmoke;
}

.search-input {
  width: 270px;
  padding: 4px 0px 4px 12px;
  border: 1px solid rgba(255, 255, 255, 0.3) ;
  transition: border 0.3s;
}

.search-input:focus {
  border: 1px solid whitesmoke;
}

.search > * {
  font-family: "Nunito", "sans-serif";
  outline: 1px solid rgba(255, 255, 255, 0.3);;
  color: whitesmoke;
  height: 40px;
  font-size: 18px;
  font-weight: bolder;
  background-color: #082f49;
}

.search-submit {
  cursor: pointer;
  width: 35px;
  border: none;

}

form {
  display: flex;
  margin: 0px;
  padding: 0px;

}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom,#178bad,#184f77) ;
}

header {
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-areas: 'top-left top-center top-right';
  align-items: center;
}

.top-title-container, #top-center {
  display: flex;
  align-items: center;
}

.top-title {
  font-family: "Nunito", "sans-serif";
  font-size: 45px;
  margin-left: 5px;
  color: whitesmoke;
}

#weather-logo {
  height: 60px;
  width: 60px;
  background-image: url(assets/weather-logo.png);
  background-size: 60px;
  background-position: center;
}

footer {
  justify-content: center;
  display: flex;
  align-items: center;  
  margin-bottom: 0px; 
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(29, 37, 59, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 10px;
  }

  footer p {
    color: rgba(245, 245, 245, 0.8); 
    font-size: 16px;  
    margin-right: 8px;
    
    }
    
    .fa.fa-github {
    color: whitesmoke; 
    transition: transform 0.3s ease-in-out;
    }
    
    .fa.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
    color: #f43f5e;
    }